node_modules/
dist/
build/
.env
.env.*
*.log
.DS_Store
__pycache__/
*.pyc
.ipynb_checkpoints/
firebase-debug.log
.firebase/
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
frontend/node_modules
frontend/dist
.firebaserc
Thumbs.db
backend/.venv/
.pytest_cache/
